# ==== Backend ====
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True

# --- Local PostgreSQL (без Docker) ---
DATABASE_URL=postgres://admin:secret@localhost:5432/konfequem
DOCKER=false

# --- Docker PostgreSQL ---
DATABASE_URL=postgres://admin:secret@db:5432/booking
DOCKER=true

# ==== Frontend ====
VITE_BACKEND_URL=http://localhost:8000
