@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker {
    font-size: 0.85rem;
    border-radius: 0.5rem;
    width: auto;
    min-width: 220px;
    max-width: 260px;
}

.react-datepicker__day {
    width: 1.8rem;
    line-height: 1.8rem;
    margin: 0.01rem;
}