@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker {
    font-size: 0.85rem;
    border-radius: 0.5rem;
    width: auto;
    min-width: 220px;
    max-width: 260px;
}

.react-datepicker__day {
    width: 1.8rem;
    line-height: 1.8rem;
    margin: 0.01rem;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -10px);
    }

    10%,
    80% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -10px);
    }
}

.animate-fadeInOut {
    animation: fadeInOut 3s ease-in-out forwards;
}